{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Calendar widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

<!--     {{ if $.Site.Params.calendar }}
    <div class="calendar">
      <iframe src="{{ $.Site.Params.calendar.url }} ?showTitle= {{ $.Site.Params.calendar.showTitle }} &mode={{ $.Site.Params.calendar.mode }} &src= {{ $.Site.Params.calendar.src }} &ctz=America%2FNew_York}"  width = "{{ $.Site.Params.iframe_width}} " height="{{ $.Site.Params.iframe_height }}" scrolling="no"></iframe>
    </div>
    {{ end }} -->

  </div>
</div>
