@import url(../ComputerModern/Serif/cmun-serif.css);

/*html {
  font-family: "Computer Modern Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/

#about{
	  font-size: .8em;
}

#awards	{
	  font-size: .8em;
}


body {
/*line-height: 1.846;
  color: #666666;*/
  background-color: #ffffff;
  background-image: /img/cupola.gif;
  background-repeat: repeat;}

blockquote.motivation {
	font-size: 1.3em;
	padding: .5rem 0rem;
	border: 0;
	text-align: right;
}

span.quote {
	font-style: italic;
}

span.author {
	font-style: normal;
}

ul.ul-awards li .description p {
    margin: 0;
}

ul.ul-awards li .description p.award {
    font-size: 0.9rem;
}

ul.ul-awards li .description p.grant {
    font-size: 0.9rem;
}

ul.ul-awards li .description p.society a {
    font-size: 0.9rem;
}

ul.ul-awards li .description p.institution {
    font-size: 0.75rem;
    font-style: italic;
    color: rgba(0,0,0,0.6);
}

ul.ul-awards li .description p.number {
    font-size: 0.75rem;
    font-style: italic;
    color: rgba(0,0,0,0.6);
}

ul.ul-awards li .description p.role {
    font-size: 0.75rem;
    font-style: italic;
    color: rgba(0,0,0,0.6);
}




/*a {
	color: #127DD6;
}*/

