@import url(../ComputerModern/Serif/cmun-serif.css);

/*html {
  font-family: "Computer Modern Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/

#about{
	  font-size: .8em;
}

body {
/*line-height: 1.846;
  color: #666666;*/
  background-color: #ffffff;
  background-image: /img/cupola.gif;
  background-repeat: repeat;}

/*a {
	color: #127DD6;
}*/

